################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RS Helper/.vs/RS Helper/v15/Server/sqlite3
